body{
	background: url(https://raw.githubusercontent.com/davinci-ao/de-vloot/master/css/grfx/bg.png);
	background-repeat: repeat-x;
	margin: 0;
}
main{
	margin: 0% 25%;
}
article{
	padding-right: 100px;
	font-family: sans-serif;
	background-color: white;
	display: inline-block;
	text-align: auto;
	
}

header{
	height: 270px;
	font-family: sans-serif;
	padding: 0;
	background: url(https://raw.githubusercontent.com/davinci-ao/de-vloot/master/css/grfx/header.jpg)no-repeat;

}

li{
	margin: 50px 0px 50px 0px;
	color: white;
	display: inline-flex;
	padding: 20px;
}

img{
	padding: 10px 10px 10px 10px;
	float: left;
}

ul{
	padding: 0;
	margin-top: 100px;
	font-size: 12;
}

a{
	text-decoration: none;
	color: white;
}
h2{
	padding: 10px 0px 10px 10px;
	margin: 0px 20px;

}
h1, p{
	margin: 0px 20px;
}

